/***********************************************
fcoo-maps-colors-variables

Create all scss-variable with colors for different fcoo-maps layers

************************************************/


/****************************************************************************
COMMON
****************************************************************************/
// $fc-color-name-list = list of name: color for all colors plus white and black
$fc-color-name-list: (
    "blue"  : fc-get-color( $fc-blue    ),
    "purple": fc-get-color( $fc-purple  ),
    "red"   : fc-get-color( $fc-red     ),
    "orange": fc-get-color( $fc-orange  ),
    "cyan"  : fc-get-color( $fc-cyan    ),
    "yellow": fc-get-color( $fc-yellow  ),
    "pink"  : fc-get-color( $fc-pink    ),
    "green" : fc-get-color( $fc-green   ),
    "gray"  : fc-get-color( $fc-gray    ),
    "white" : white,
    "black" : black
);



/****************************************************************************
TIME
Color to mark a time, button etc. as past, now or future
****************************************************************************/
$time-past-color  : #7ABAE1;
$time-now-color   : lightgreen;
$time-future-color: #4D72B8;


/****************************************************************************
SEARCH RESULT
Color for search result
****************************************************************************/
$search-result-color: fc-get-delta-color($fc-orange, 1); //Darker orange

/*Previous used colors:
$DarkGoldenRod: #B8860B;
$Chartreuse: #7FFF00;
$osm-search-result: darken(#FF6200, 5); //dark-dark-orange
*/

/**********************************************************
OBSERVATIONS
**********************************************************/
$observations-color: fc-get-color( $fc-yellow );


/**********************************************************
NAVIGATION AND NIORD
**********************************************************/
//Standard "pink" for navigation-lines and area in charts
$navigation-pink:  #E5238C;

//$navigation-purple = Used by Danish Maritime Authority as standard color for Notices to Mariners, navigational and shooting warnings
$navigation-purple: #E2007A;

//$navigation-purple-dark = Darker version used as border-color
$navigation-purple-dark: darken($navigation-purple, 20%);


/****************************************************************************
HAVNELODS
****************************************************************************/
//Colors for harbors etc. in Denmark and Greenland
$harbor-dk-color: fc-get-color($fc-green);
$harbor-gl-color: fc-get-delta-color($fc-green, 1);




/****************************************************************************
LOCATION
****************************************************************************/
$location-color: #4285F4; //= rgba(66, 133, 244) = google maps color for location icon


